<div class="album" ref="/album/<%= album.id %>">
  <% if (typeof(album.thumbnailUri) !== 'undefined' && album.thumbnailUri != null) { %>
    <img src="/image/file/<%= album.thumbnailUri %>" alt="" />
  <% } else { %>
    <img src="./no_image_placeholder.png" alt="" />
  <% } %>
  <div class="title">
    <h1> <%= album.name %> </h1>
      <% if (authenticatedUser != "guest") { %>
        <% if (album.isLiked) { %>
          <div class="heart-button heart active" album="<%= album.id %>"></div>
        <% } else { %>
          <div class="heart-button heart" album="<%= album.id %>"></div>
        <% } %>
      <% } %>
  </div>
  <div class="title" style="margin-top: 50px">
    <div>
      <p> <%= album.author %> </p>
      <p> <%= new Date(album.creationDate).toDateString(); %> </p>
    </div>
    <p> Like Count: <%= album.likeCount %> </p>
  </div>
</div>
