<%- include('layout') -%>

<%- include('userHeader', { show_edit: false, username: currentUser.username, like_count: currentUser._likedAlbum.length } ) -%>

<form name="" method="post" action="/edit/user">
  <div class="input-container">
    <input type="text" name="email" required="" value="<%= currentUser.email %>"/>
    <label> Email </label>
  </div>
  <div class="input-container">
    <input type="text" name="username" required="" value="<%= currentUser.username %>"/>
    <label> Username </label>
  </div>
  <div>
    <input class="input-button" type="submit" value="Edit" />
  </div>
</form>

<form name="" method="post" action="/edit/password">
  <div class="input-container">
    <input type="text" name="old_password" required="" />
    <label> Old Password </label>
  </div>
  <div class="input-container">
    <input type="password" name="new_password" required="" />
    <label> New Password </label>
  </div>
  <div class="input-container">
    <input type="password" name="new_repassword" required="" />
    <label> Re-enter New Password </label> 
  </div>
  <div>
    <input class="input-button" type="submit" value="Change password" />
  </div>
</form>

<%- include('footer') -%>